In [4]:
p=np.zeros((3,3))
p

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [1]:
df= pd.read_csv('data/faithful.csv')
df

     Index   "Eruption length (mins)"  Eruption wait (mins)
0        1                      3.600                    79
1        2                      1.800                    54
2        3                      3.333                    74
3        4                      2.283                    62
4        5                      4.533                    85
..     ...                        ...                   ...
267    268                      4.117                    81
268    269                      2.150                    46
269    270                      4.417                    90
270    271                      1.817                    46
271    272                      4.467                    74

[272 rows x 3 columns]